.pagination{
    width: 100%;
    display: flex;
    justify-content: center;
}
.pagination .page{
    margin: 0px;
}
.pagination button{
    margin: 5px;
    padding: 5px;
    height: 42px;
}
.pagination .page button{
    width: 42px;
    height: 42px;
    
}