header{
    width: 100%;
    background-color: rgb(48, 196, 255);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    color: white;
}

header h3{
    width: 50%;
    margin-left: 10px;
}
header h1{
    text-align: center;
}

header .actions{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.actions .item{
    width: fit-content;
    margin: 10px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.actions button.item{
    font-weight: lighter;
}